@tailwind base;
@tailwind components;
@tailwind utilities;

/*Menu hamburguesa con animacion*/
.bars__menu {
  @apply w-[30px] h-[30px] cursor-pointer;
}

.bars__menu span {
  @apply block w-full h-[2px] bg-blanco mt-[6px] origin-bottom-left  transition-all duration-500;
}
.bars__menu .line1__bars-menu {
  @apply rotate-45 translate-x-[-2px] translate-y-[-3px];
}
.bars__menu .line2__bars-menu {
  @apply ml-[-30px] opacity-0;
}
.bars__menu .line3__bars-menu {
  @apply rotate-[-45deg] translate-x-[-2px] translate-y-[2px];
}

/* Iconos del navbar responsive */
.icons__menu {
  @apply flex justify-center items-center  rounded-full shadow-lg shadow-purple-500 text-purple-400 
  text-2xl  h-12 w-12  cursor-pointer  ease-in duration-300 hover:bg-purple-400 hover:text-white hover:shadow-gray-400;
}

/* Efecto hover en los enlaces del navbar*/

.navegacion .link{
  @apply text-blanco inline-block p-2 relative text-lg
}
.navegacion .link:hover{
  @apply text-secundario duration-300
}

.navegacion .link::after {
  width: 0;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F7B32B;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
} 

.navegacion .link:hover::after {
  @apply w-full left-0 
}

.navegacion .activo {
  @apply inline-block py-2 px-[10px] relative text-secundario
}

.navegacion .activo::after {
  background: none repeat scroll 0 0 transparent;
  color:#F7B32B;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #F7B32B;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}



/*  Slider productos destacados  */ 

swiper {
  @apply w-full h-full
}

.swiper-slide {
  @apply text-center text-lg bg-transparent flex justify-center items-center
}

.swiper-slide img {
  @apply block w-full object-cover
}

.swiper-button-next,
.swiper-button-prev {
  @apply absolute z-10 bg-transparent border-secundario   p-8 rounded-[50%] shadow-md 
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-secundario
}


@media screen and (min-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem;
  }
}

@media screen and (min-width: 780px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 1.5rem;
  }
}
.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

